* {
    /* estilo padrão */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #0b6dbd; /* Cor ao passar o mouse */
}

main {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    line-height: 1.6; /* Melhora a leitura do texto */
}

main a {
    color: #007BFF; /* Cor dos links */
    text-decoration: none;
}

main a:hover {
    text-decoration: underline;/* linha do link */
}

form {
    padding: auto;
    margin: 20px auto;
}

/* Estilo padrão (Claro) */
body {
    background-color: #ffffff;
    color: #333333;
    transition: 0.3s; /* Deixa a mudança suave */
}

/* Estilo Escuro */
body.dark-mode {
    background-color: #1a1a1a;
    color: #ffffff;
}

/* Estilo do botão (coloque no seu menu) */
#botao-tema {
    cursor: pointer;
    padding: 2px 8px;
    display: flex;
}